<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1041082884941-p9k7ugar0b1kptsdokohodjo4giabrgl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1041082884941-p9k7ugar0b1kptsdokohodjo4giabrgl</string>
	<key>API_KEY</key>
	<string>AIzaSyBwBQpitcwNoR5cZoI5PvWd-5HznJgE-dM</string>
	<key>GCM_SENDER_ID</key>
	<string>1041082884941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firstbd233</string>
	<key>PROJECT_ID</key>
	<string>ipssi-flutter-projet</string>
	<key>STORAGE_BUCKET</key>
	<string>ipssi-flutter-projet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1041082884941:ios:ed481ee54f1a3f6a7a4d04</string>
</dict>
</plist>